.main {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    color: #4a5568;
    font-family: serif, arial;
}

.Input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-top: 10px;
    margin-right: 10px;
}


.ym {
    color: #afadad;
    position: absolute;
    z-index: 9999;
    right: 20px;
    ;
    top: 18px;
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 2rem;
    background-color: #657E79;
    border-radius: 4px;
}

.img {
    margin: 1rem;
}

.TopContent {
    margin: 1rem;
}

.Heading {
    font-size: 1.875rem;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.SubHeading {
    font-size: 1.25rem;
    color: white;
}


.Btnn {
    margin-top: 25px;

}

.CalBtn {
    background-color: #657E79;
    color: #ffffff;
    padding: 14px 24px;
    border-radius: 4px;
    width: 100%;
}

.stylesSide {
    display: block;
}

.stylesLside {
    padding: 35px;
    background-color: #f6f5f3;
}

@media only screen and (min-width: 1000px) and (max-width:1200px) {
    .stylesSide {
        display: flex;
        justify-content: space-between;
    }

    .stylesLside {
        width: 35%;
        padding: 35px;
        background-color: #f6f5f3;
    }

    .stylesRside {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65%;
    }

    .Rt {
        padding-left: 250px;
    }
}

@media only screen and (min-width: 1200px) {
    .stylesSide {
        display: flex;
        justify-content: space-between;
    }

    .stylesLside {
        width: 35%;
        padding: 35px;
        background-color: #f6f5f3;
    }

    .stylesRside {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65%;
    }

    .Rt {
        padding-left: 100px;
    }
}


.inInvalid {
    font-size: 0.875rem;
    color: red
}